<div class="container">
  <div class="card">
    <% @tanks.each do |tank| %>
      <%= tank.tank_name %>
      <%= tank.quantity %>
      <%= tank.quantity_max %>
      <%= link_to "intervention", tank_path(tank)  %>
      <%= link_to "modifier", edit_tank_path(tank)  %>
      <%= link_to "supprimer cette cuve", tank_path(tank), method: :delete, data: {confirm: "Voulez-vous supprimer cette cuve ?"}  %>
    <% end %>
  </div>
  <div class="card">
    <%= link_to "ajouter une cuve", new_tank_path  %>
  </div>
  <div class="card">
    <%= link_to "voire toutes les activités", activities_path %>
  </div>
</div>

