<div class="container">
  <div class="card">
  <h5><%=  @tank.tank_name %></h5>
   <p>Quantité actuelle : <%= @tank.quantity %>L</p>
   <p>Quantité max de cette cuve : <%= @tank.quantity_max %>L</p>
  </div>
  <div class="card">
    <%= render 'shared/add_or_remove' %>
    <%= render 'shared/traitement' %>
    <%= render 'shared/transfert' %>
  </div>
</div>
