<div class="container">
  <div class="card">
  <h2><%=  @tank.tank_name %></h2>
   <p>Quantité actuelle : <%= @tank.quantity %>L</p>
   <p>Quantité max de cette cuve : <%= @tank.quantity_max %>L</p>
  </div>
  <% @tanks.each do |tank| %>
  <%= tank.tank_name %>
  <% end %>
  <div class="card">
    <%= render 'shared/add' %>
    <%= render 'shared/remove' %>
    <%= render 'shared/traitement' %>
    <%= render 'shared/transfert' %>
  </div>
  <div class="card">
  <% @activities.each do |activity| %>
    <%= activity.intervention  %>
    <%= activity.old_quantity %>
    <%= activity.new_quantity %>
  <% end %>
  </div>
</div>
