<h6>
  Ajouter ou supprimer une quantité de vin ?
</h6>
<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= form_for @tank, url: interventions_add_path, html: {method: :post} do |f| %>
  <%= f.text_field :quantity_change %>
  <%= f.hidden_field :id %>
  <%= f.submit "test", id: params[:id]%>
  <% end %>
