<div class="container">
  <p>la Cuve :</p>
  <p><%= @tank.tank_name %></p>
  <p>à subit l'intervention suivante : <%= @intervention %></p>
  <p>donc l'ancienne quantité était de : <%= @old_info %></p>
  <p>la nouvelle est donc de : <%= @tank.quantity %></p>
  <p>voici la situation la proportion actuelle : <%= @tank.quantity %>L / <%= @tank.quantity_max %>L</p>
  <%= simple_form_for (@activity), url: tank_activities_path, method: :post do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :intervention, value: @intervention %>
  <%= f.hidden_field :old_quantity, value: @old_info.to_i %>
  <%= f.hidden_field :new_quantity, value: @tank.quantity.to_i %>
  <%= f.hidden_field :tank_name, value: @tank.tank_name %>
  <%= f.hidden_field :tank_id, value: @tank.id %>
  <%= f.submit%>
  <% end %>
</div>
